
<div class="col-sm-6 col-sm-offset-3">

    <h1>Edit your blip</h1>

    <form action="/create" method="post">

        <div class="form-group">
            <label for="blips">Blip Title</label>
            <input type="text" class="form-control">
        </div>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type of Industry
              <span class="cart"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Other</a></li>
              </ul>
            </div>

            <div class="form-group">
                <label for="duration">Duration</label>
                <textarea class="form-control" rows="5" id="comment">
                </textarea>
            </div>

            <div class="form-group">
                <label for="tags">Tags</label>
                <textarea class="form-control" rows="5" id="comment">
                </textarea>
            </div>

        <div class="form-group">
            <label for="comment">Link</label>
            <textarea class="form-control" rows="5" id="comment">
            </textarea>
        </div>

        <div class="form-group">
            <label for="timesUsed">Times completed or used</label>
            <textarea class="form-control" rows="5" id="comment">
            </textarea>
          </div>

          <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" rows="5" id="comment">
              </textarea>
          </div>


        <div class="form-group">
          <label for="blipSchema"></label>
          <input>


        <button type="submit" class="btn btn-warning btn-lg">Create your pathLyfe</button>
    </form>

    <hr>


</div>
