<!-- /views/profile.ejs -->
<div class="page-header">
    <h1><%= user.local.name %></h1>
    <h4><a href="/create">Create Path</a></h4>
</div>

<h3>Your paths</h3>
<% user.paths.forEach(function(p) { %>
<a href="/paths/<%= p._id %>" class="path-name"><%= p.name %></a>
  <a href="/paths/<%= p._id %>/delete"> Delete</a><br>
<% }) %>



<br>
