<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Find a Path by Title</h1>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" id="path-search-text">
      </div>
      <button type="submit" class="btn btn-default" id="path-search-btn">Search</button>

    </div>

    <div class="col-sm-6">
      <h1>Find a Path by Blips</h1>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" id="blip-search-text">
      </div>
      <button type="submit" class="btn btn-default" id="blip-search-btn">Search</button>
    </div>
  </div>
<br><br>
<ul class="search-results" style="font-size: 20px">Results</ul>

</div>

<script>
  // Path Search Logic ============================

  // set up jquery variables
  var pathSearchText = $('#path-search-text')
  var $pathSearchBtn = $('#path-search-btn')
  var blipSearchText = $('#blip-search-text')
  var $blipSearchBtn = $('#blip-search-btn')
  var searchResults = $('.search-results')

  // User clicks path search button:
  $pathSearchBtn.on('click', function(evt){
    // stops the page from reloading
    evt.preventDefault()
    // input for ajax request
    var opts = {
          method: 'post',
          url: '/search',
          contentType: 'application/json',
          data: JSON.stringify({
              name: pathSearchText.val()
          })
      };
      // callback for ajax request
      var cb = function(dataTCB) {
          console.log(dataTCB)
          printResults(dataTCB)
      };
      // making ajax request
      $.ajax(opts)
          .done(cb)
  })

  // user clicks path search by blip button:
  $blipSearchBtn.on('click', function(evt){
    evt.preventDefault()
    var opts = {
          method: 'post',
          url: '/blips/search',
          contentType: 'application/json',
          data: JSON.stringify({
              title: blipSearchText.val()
          })
      };
      var cb = function(dataTCB) {
          console.log(dataTCB)
          printResults(dataTCB)
      };
      $.ajax(opts)
          .done(cb)
  })

  // function that creates a new clickable <a> tag
  // using path data sent from the router
  function printResults(data){
    searchResults.empty()
    data.forEach(function(path){
      var newItem = $('<a>', {
          id: path['_id'],
          class: 'path_3_container search-result',
          text: (path._by.local['name']+ " " + path['name']),
          href: ('/paths/'+path['_id'])
        })
      var newBreak = $('<hr>')
      searchResults.append(newBreak)
      searchResults.append(newItem)
    })
  }
</script>
